@font-face {
  font-family: nunito;
  src: url('../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.home_container {
  width: 100vw;
  background-color: #f2f2f2;
}

.home_side_contents {
  top: 0;
  width: 81%;
  height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_info_top {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin: 30px;
}

.home_info {
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.home_info_below {
  margin: 30px;
  width: 90%;
  height: 40%;
}

.home_info_below {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0px 8px #0000001a;
  width: 90%;  
  height: 349px;  
  margin-bottom: 2%;
}

.home_profile_student, .home_calendar {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0px 8px #0000001a;
  width: 90%;  
  height: auto;  
}

div.card_title  {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  align-items: center;
  gap: 5px; 
  margin-bottom: 16px;
  color: 'black';
}

.card_title > div {
  color: 'black';
  background-color: #333;
}

.home_profile_student .student_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.home_profile_student .student_info p {
  margin: 0;
}

.home_profile_student div:nth-of-type(2) {
  margin-bottom: 10px;
}

.home_profile_student p {
  margin: 5px 0;
}

.home_profile_student div:nth-of-type(3) p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 60px; 
}

.home_calendar p {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}

.home_calendar .card_title p {
  font-size: 32px;
}

.home_calendar p:nth-of-type(2), .home_calendar p:nth-of-type(4) {
  font-weight: bold;
}

.home_calendar div:nth-of-type(4) p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px; 
}
