@font-face {
  font-family: nunito;
  src: url('../../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.grades_container {
  top: 0;
  width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  font-family: nunito;
}

.grades_side_content {
  position: absolute;
  right: 0;
  top: 0;
  width: 81%;
  min-height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
}

.grades_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grades_card {
  width: 95%;
  background-color: white;

  margin-top: 52px;
  margin-bottom: 52px;
  border-radius: 5px;
}

.grades_card_title {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.grades_card_title p {
  font-size: 32px;
  font-weight: 500;
  color: #2c3e50;
  margin: 20px 0px 20px 40px;
}

.grades_card_title hr {
  background-color: #f2f2f2;
  width: 200px;
  height: 4px;

  outline: none;
  border: none;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grades_card_table {
  width: 100%;
  padding: 20px 40px 40px 40px;
}

.grades_card_table_header {
  width: 100%;

  margin-bottom: 40px;
}

.grades_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grades_header span {
  font-size: 24px;
  color: #233058;
  font-weight: bold;
}

.grades_card_table_body {
  width: 100%;

  margin: 20px 0px -2px 0px;
}

.grades_body {
  display: flex;
  flex-direction: column;

  gap: 85px;
}

.grades_dropdown_body {
  font-size: 18px;
  font-weight: 300;
  color: #3f3f3f;
  background-color: #f2f2f2;

  border: none;
  outline: none;
  border-radius: 10px;

  width: 100%;
  padding: 5px 15px 5px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grades_dropdown_body img {
  height: 10px;
}

.grades_dropdown_body span {
  font-size: 24px;
  color: #3f3f3f;
  font-weight: bold;
}
