@font-face {
  font-family: nunito;
  src: url('../../../assets/fonts/Nunito-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rollcallContainer {
  font-family: nunito;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.rollcallSideContents {
  top: 0;
  width: 81%;
  height: 100%;
  background-color: #f2f2f2;
  margin-left: 19.1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rollcallInfoTop {
  width: 92%;
  height: 16%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin: 49px;
}

.rollcallInfo {
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.unitIdentify {
  font-size: 20px;
  margin-top: -71px;
  margin-left: 247px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  width: 100%;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-family: nunito;
  width: 100%;
}

select {
  border: 2px solid #dad5d5;
  border-radius: 5px;
  padding: 5px;
  height: 36px;
  width: 218px;
  outline: none;
  font-size: 16px;
  font-family: nunito;
}

.searchBar input {
  height: 50px;
  width: 300px;
  outline: none;
  padding-left: 7px;
  font-size: 16px;
  font-family: nunito;
  border: 2px solid #dad5d5;
  border-radius: 10px;
  margin-top: 15px;
}

.attendanceTable {
  width: 95%;
  margin-top: 25px;
  border-collapse: collapse;
}

.attendanceTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.studentInfo {
  display: flex;
  align-items: center;
}

.avatar {
  width: 25px;
  height: 25px;
  margin-right: 50px;
  font-weight: bold;
}

.updateButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: -1194px;
}

::-webkit-scrollbar {
  display: none;
}
